.btn-update{
    margin-left: 5px;
}

#options {
    min-width: 20px;
}

#menu-div{
    min-height: 50px;
}
#services-div{
            visibility: hidden;
}
#row-id{
    visibility: hidden;
}
#id-thead{
    visibility: hidden;
}
#new-btn{
    margin-left: 30px;
}
