    body {
        background-color: #c4e5c1;
    }
    /*By Class*/

    .has-errors {
        border-style: solid;
        border-color: firebrick;
        background-color: #f8bdb3;
    }

    .nested-row {
        margin: 10px;
    }
    /*By id*/

    #div-search {
        margin-top: 20px;
        background-color: #0fb6a9;
    }

    #div-title {
        margin-top: 10px;
    }

    #searchCol {
        float: right;
    }

    #data-table {
        visibility: hidden;
    }

    #table-body {
        background-color: #ff6f69;
        font-family: 'Gudea';
        font-size: 20px;
    }

    #table-head {
        background-color: #0fb6a9;
        font-size: 20px;
        font-family: 'Cabin Condensed';
    }

    #not-found {
        font-size: 40px;
        font-family: 'Cabin Condensed';
    }

    #client-nav {
        background-color: #0fb6a9;
        font-family: 'Raleway', sans-serif;
    }

    #link-nav {
        float: right;
        color: black;
    }

    #title-nav {
        color: black;
    }

    #error-msg {
        visibility: hidden;
    }
